<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.risk.controller.service.dao.BlacklistIdcardDao">
    <resultMap id="getMap" type="com.risk.controller.service.entity.BlacklistIdcard">
    </resultMap>
    <select id="getLastOneByIdCard" resultMap="getMap">
        SELECT * from risk_blacklist_idcard WHERE id_card = #{0}  order by id desc limit 1
    </select>

    <insert id="insert" parameterType="com.risk.controller.service.entity.BlacklistIdcard">
        INSERT INTO `risk_blacklist_idcard` (`id_card`, `enable`, `source`, `remark`, `add_time`, `update_time`) VALUES (#{idCard},1, #{source}, #{remark},#{addTime}, #{updateTime})
    </insert>

    <select id="getListByIdcards" parameterType="java.util.List" resultType="string">
        select id_card idCard from risk_blacklist_idcard where enable = 1 and id_card in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>