<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.risk.controller.service.dao.DecisionResultNoticeDao">
    <resultMap id="BaseResultMap" type="com.risk.controller.service.entity.DecisionResultNotice">
    </resultMap>

    <insert id="insert" parameterType="com.risk.controller.service.entity.DecisionResultNotice" useGeneratedKeys="true" keyProperty="id" keyColumn="id">

        INSERT INTO `zx_risk`.`risk_decision_result_notice`
        (`merchant_code`, `nid`, `status`, `notice_num`, `reject_reasons`, `result`, `msg`, `add_time`, `update_time`)
        VALUES
        (#{merchantCode}, #{nid}, #{status}, #{noticeNum}, #{rejectReasons},#{result}, #{msg}, #{addTime}, #{updateTime})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.risk.controller.service.entity.DecisionResultNotice" >
        update risk_decision_result_notice
        <set >
            <if test="merchantCode != null" >
                merchant_code = #{merchantCode},
            </if>
            <if test="nid != null" >
                nid = #{nid},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="result != null" >
                result = #{result},
            </if>
            <if test="msg != null" >
                msg = #{msg},
            </if>
            <if test="noticeNum != null" >
                notice_num = #{noticeNum},
            </if>
            <if test="rejectReasons != null" >
                reject_reasons = #{rejectReasons},
            </if>
            <if test="addTime != null" >
                add_time = #{addTime},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.risk.controller.service.entity.DecisionResultNotice">
        select * from risk_decision_result_notice
        <where>
            <if test="nid != null  and ''!=nid ">
                and nid = #{nid}
            </if>
            <if test="merchantCode != null and ''!=merchantCode ">
                and merchant_code = #{merchantCode}
            </if>
        </where>
        limit 1
    </select>

    <!--查询需要重新通知的数据-->
    <select id="pushRiskResult" resultMap="BaseResultMap">
        select *
        from risk_decision_result_notice
        where status=2
        AND notice_num <![CDATA[ <= ]]> #{noticeNum}
        <if test="nid != null and nid !=''">
            AND nid=#{nid}
        </if>
        ORDER BY add_time ASC
        limit 100
    </select>


</mapper>