<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.risk.controller.service.dao.ModelGroupDao">
    <resultMap id="getMap" type="com.risk.controller.service.entity.ModelGroup">
    </resultMap>

    <select id="getByGroupId" resultType="com.risk.controller.service.entity.ModelGroup">
        SELECT * from risk_model_group WHERE group_id = #{0} AND enabled = 1 ORDER BY id desc limit 1
    </select>
</mapper>
