<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.risk.controller.service.dao.RobotRuleDao">
    <resultMap id="getMap" type="com.risk.controller.service.entity.RobotRule">
    </resultMap>

    <select id="getAllrobotRule" resultMap="getMap" parameterType="Long">
        SELECT * from risk_robot_rule WHERE enabled = 1
        <if test="null!=ruleId and 0!=ruleId">
            and id = #{ruleId}
        </if>
    </select>

</mapper>