<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1800 seconds" debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property scope="context" name="FILE_NAME" value="risk-api"/>
    <property scope="context" name="LOG_PATH" value="/data/www/project/zx_education/risk_control_service/logs"/>

    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>
    <property scope="context" name="GLOBAL_LEVEL" value="WARN"/>
    <property scope="context" name="SPRING_LEVEL" value="INFO"/>
    <property scope="context" name="PROJECT_LEVEL" value="DEBUG"/>
    <property scope="context" name="maxFileSize" value="50M"/>
    <property scope="context" name="maxHistory" value="30"/>

    <property name="CONSOLE_LOG_PATTERN" value="%red(%d{yyyy-MM-dd HH:mm:ss}) Console %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{10}) - %cyan(%msg%n)"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <property name="FILE_LOG_PATTERN"
              value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${thread:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="file-debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${FILE_NAME}-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${FILE_NAME}-debug.%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${FILE_NAME}-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${FILE_NAME}-info.%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file-warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${FILE_NAME}-warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${FILE_NAME}-warn.%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${FILE_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${FILE_NAME}-error.%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--日志输出级别语句-->
    <logger name="java.sql" level="${GLOBAL_LEVEL}"/>
    <logger name="com.ibatis" level="${GLOBAL_LEVEL}"/>
    <logger name="venus" level="${GLOBAL_LEVEL}"/>
    <logger name="sun" level="${GLOBAL_LEVEL}"/>
    <logger name="druid" level="${GLOBAL_LEVEL}"/>
    <logger name="com.alibaba" level="${GLOBAL_LEVEL}"/>
    <logger name="org.quartz" level="${GLOBAL_LEVEL}"/>
    <logger name="org.mybatis" level="${GLOBAL_LEVEL}"/>
    <logger name="com.meidusa" level="${GLOBAL_LEVEL}"/>
    <logger name="org.apache" level="${GLOBAL_LEVEL}"/>
    <logger name="org.jboss" level="${GLOBAL_LEVEL}"/>
    <logger name="org.hibernate" level="${GLOBAL_LEVEL}"/>
    <logger name="redis" level="${GLOBAL_LEVEL}"/>
    <logger name="org.springframework" level="${SPRING_LEVEL}"/>

    <root level="${PROJECT_LEVEL}">
        <appender-ref ref="console"/>
        <appender-ref ref="file-info"/>
        <!--<appender-ref ref="file-debug"/>-->
        <appender-ref ref="file-warn"/>
        <appender-ref ref="file-error"/>
    </root>
</configuration>